version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: daily
    labels:
    - skip-changelog
    - dependencies
  - package-ecosystem: "github-actions"
    directory: '/'
    schedule:
      interval: daily
    labels:
    - skip-changelog
    - dependencies
